<div class="row">
  <div class="xs-12 text-center">
    <small class="small-bio">Hi there! I'm</small>
    <h1 class="name"><span>Arturo</span> Casas</h1>
    <small>@Artikunazo</small>
  </div>

  <div class="xs-12">
    <!-- Description -->
    <p class="small-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex delectus ipsa corporis officia possimus cupiditate labore praesentium aut facere odit minima molestias, enim tempora consectetur deleniti, minus culpa veritatis consequuntur.</p>
  </div>
</div>
