.name{
  font-weight: 300;

  & span{
    color: var(--main-color) !important;
  }

  @media (min-width: 995.98px){
    font-size: 2.5rem;
  }
}

.small-bio{
  color: var(--small-bio-color);
}

small.small-bio{
  font-weight: bold;
}
