<h2 class="section-title pl-2">Skills</h2>

<div class="section-container">
  <ul class="skills-list" *ngIf="skills else skillsEmpty">
    <li 
      *ngFor="let skill of skills"
      class="skills-list__item text-center"
    >
      <figure class="item__figure">
        <img
          [src]="findIconSkill(skill)"
          [alt]="skill + ' icon'"
          class="icon">
        <figcaption>{{ skill }}</figcaption>
      </figure>

    </li>
  </ul>
  <ng-template #skillsEmpty>
    <p>No skills yet</p>
  </ng-template>
</div>
