<div class="row">
  <!-- <div class="xs sm md lg">
    <img src="" alt="">
  </div> -->
  <div class="xs sm md lg">
    <basic-info></basic-info>
  </div>

  <div class="xs sm md lg">
    <div class="row">
      <div class="xs sm-6 md-6 lg-6 text-center">
        <button type="button" class="btn btn-primary" (click)="downloadResume()">Resume</button>
      </div>

      <div class="xs sm-6 md-6 lg-6 text-center">
        <social-networks></social-networks>
      </div>
    </div>
  </div>
</div>
