<div class="menu">
  <app-menu></app-menu>
</div>

<div class="row">
  <!-- <div class="xs-12 sm-12 md-12 lg-12 ">
    <img src="" alt="">
  </div> -->
  <div class="xs-12 sm-12 md-12 lg-12 ">
    <basic-info></basic-info>
  </div>

  <div class="xs-12 sm-12 md-12 lg-12 ">
    <div class="row">
      <div class="xs-12 sm-6 md-6 lg-6 text-center">
        <button type="button" class="btn btn-primary">Resume</button>
      </div>

      <div class="xs-12 sm-6 md-6 lg-6 text-center">
        <social-networks></social-networks>
      </div>
    </div>
  </div>
</div>
