/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/gary-css/gary.min.css';
@import './assets/css/fonts.css';

html, body{
    margin:0;
    padding: 0
}

.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}

.section-title{
  color: var(--text-color);
}
.section-container{
  background-color: white;
  border-radius: 50px;
  padding: 48px;
}

.width-100{
  width: 100%;
}
.icon{
  height:30px;
  width:30px;
}

.btn:disabled{
  cursor: not-allowed;
}
.btn:disabled.btn-primary{
  background-color: var(--main-color-dark);
  opacity: 0.6;
}

.max-width-1270{
  max-width: 1270px;
}
.max-width-768{
  max-width: 768px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-1-1-100{
  flex: 1 1 100%;
}

.pl-1{
  padding-left: 1rem;
}
.pl-2{
  padding-left: 2rem;
}
.px-1{
  padding-left: 1rem;
  padding-right: 1rem;
}

.grid-center{
  display: grid;
  justify-content: center;
  align-items: center;
}

@media (max-width: 575.98px){
  .section-container{
    padding: 38px;
  }
}
