<h2 class="section-title pl-2">Projects</h2>

<div class="row section-container">
  <ng-container
    *ngFor="let project of projects; let isLast = last; let isOdd = odd; let isEven = even"
  >
    <div
      class="xs sm text-center "
      [ngClass]="{
        'md lg': isLast && isEven,
        'md-6 lg-6': !isLast
      }"
    >
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ project.name }}</h3>
          <p class="card-text text-left" [innerHtml]="project.description"></p>

          <a
            href="{{ project.url_live }}"
            target="_blank"
            class="btn btn-lg btn-primary"
            >Live</a
          >
          <a
            href="{{ project.url_repo }}"
            target="_blank"
            class="btn btn-lg btn-secondary"
            >Repo</a
          >
        </div>
      </div>
    </div>
  </ng-container>
</div>
