.skills-list{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  & .skills-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #eee;
    box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    -webkit-box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    -moz-box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    -o-box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    max-width: 95px;
    margin: .25rem 10px;

    & .item__figure img,
    & .item__figure figcaption{
      margin: 5px 0;
    }

    & .item__figure figcaption{
      font-size: 0.85em;
    }
  }
}
