/* Forms */
input, textarea {
  border: 1px solid #eee;
  padding: 11px 20px;
  font-size: 0.85rem;
  letter-spacing: 1px;
  width: 100%;
  margin: 5px 0;
}

input{
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

textarea{
  max-width: 100%;
  max-height: 200px;
  min-height: 100px;
  min-width: 100%;
}

.is-invalid{
  border: 1px solid var(--danger-color);
}
.is-valid{
  border: 1px solid var(--success-color);
}
